<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>graph | RiPPro solved</title>

  <!-- for graph -->
  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="chartkick.js"></script>

  <% @path = '/' %>
  <%= erb :import %>

</head>
<body>
<%= erb :header %>
  
<%= line_chart @graph_info,
height: "500px",
library: {
    title: {
        text: 'AtcoderSolved'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top'
    },
    chart: {
        height: 400,
        margin: [50, 135, 200, 100],
        zoomType: 'x',
        resetZoomButton: {
            position: {
                x: 0,
                y: -30
            }
        },
        type: 'line'
    }
} 

%>

</body>
</html>
