<header>
  <nav class="teal">
    <ul class="left hide-on-med-and-down">
      <li><a href='/'>Top</a></li>
      <li><a href="/graph">Solved</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-pc">Contest<i class="mdi-navigation-arrow-drop-down left"></i></a></li>
      <ul id='dropdown-pc' class='dropdown-content'>
        <li><a href="/solved/arc">ARC</a></li>
        <li><a href="/solved/abc">ABC</a></li>
        <li><a href="/solved/agc">AGC</a></li>
        <li><a href="/solved/other">OTHER</a></li>
      </ul>
    </ul>
    <ul class="hide-on-med-and-up">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown-cell-phone">Atcoder Solved<i class="mdi-navigation-arrow-drop-down left"></i></a></li>
      <ul id='dropdown-cell-phone' class='dropdown-content'>
        <li><a href='/'>Top</a></li>
        <li><a href="/graph">Solved</a></li>
        <li><a href="/solved/arc">ARC</a></li>
        <li><a href="/solved/abc">ABC</a></li>
        <li><a href="/solved/agc">AGC</a></li>
        <li><a href="/solved/other">OTHER</a></li>
      </ul>
    </ul>
  </nav>
</header>