<header>
  <nav class="teal">
    <ul class="left hide-on-med-and-down">
      <li><a href='/'>Top</a></li>
      <li><a href="/graph">Solved</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Contest<i class="mdi-navigation-arrow-drop-down left"></i></a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/solved/arc">ARC</a></li>
        <li><a href="/solved/abc">ABC</a></li>
        <li><a href="/solved/agc">AGC</a></li>
        <li><a href="/solved/other">OTHER</a></li>
      </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</header>