<header class="header">
  <div class="fixbar">
    <h1 id="top"><a href="/">Atcoder 進捗どうですか？</a></h1>
    <ul class="nav navbar-nav">
      <li><a href="/solved/abc">ABC</a></li>
      <li><a href="/solved/arc">ARC</a></li>
      <li><a href="/solved/agc">AGC</a></li>
      <li><a href="/solved/other">OTHER</a></li>
    </ul>
  </div>
</header>