<!-- for graph -->
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="chartkick.js"></script>

<%= bar_chart @solved.map{|user, count| [user,count] },
  library: {
    chart: {
        height: "#{@solved.length * 35 + 10}px",
        margin: [0, 135, 200, 100],
    }
  }
%>

<div class="div_aor">
<a class="waves-effect waves-light btn" id="submit-comment">AORる</a>
<div><p id="aor-result">&nbsp;</p></div>

</div>